# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build

# environment variables
.env
.env.*
!.env.example
# environment variables - ignore in all directories
**/.env
**/.env.*
!**/.env.example

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDE and editor folders
/.idea
/.vscode
*.swp
*.swo
.DS_Store
.directory
.project
.settings
.classpath
.c9/
*.launch
*.sublime-workspace

# server specific
/server/node_modules
/dist
/tmp
/out-tsc
